---
import Base from '../layouts/Base.astro';
---

<Base description="" title='Simple Lineup'>
	<h2>Simple beer league team manager</h2>
	<h3>Easily manage your roster, schedule, communications, and accounting.</h3>

	<h4>Sign up for updates</h4>
	<p>
		This web app is currently in development. Sign up for email updates on the progress and more
		information about features we are developing.
	</p>

	<form>
		<label for="email">Email</label>
		<input required autocomplete="email" id="email" name="email" type="email" />
		<button>Keep Me Updated</button>
	</form>
</Base
