@use "@picocss/pico/scss/pico" with ($semantic-root-element: "#root",
  $enable-semantic-container: true,
  $enable-responsive-spacings: false,
  $enable-responsive-typography: false,
  $theme-color: "violet",
  $modules: (
    "content/code": false,
    "content/embedded": false,
    "content/table": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/group": false,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false)
);

@use "@picocss/pico/scss/colors/utilities" with ($palette: ("color-families": (green, red)));

:root {
  --pico-font-family: "Roboto", var(--pico-font-family-sans-serif);
}

button, [role="button"] {
  width: 100%;
}

nav ul {
  flex-wrap: wrap;
}

pre {
  font-family: var(--pico-font-family);
  white-space: pre-wrap;
}

section {
  margin-bottom: calc(var(--pico-spacing) * 2);
}