@use "@picocss/pico/scss/pico" with ($semantic-root-element: "#root",
  $enable-semantic-container: true,
  $enable-responsive-spacings: true,
  $enable-responsive-typography: false,
  $theme-color: "orange",
  $modules: ("content/code": false,
    "content/embedded": false,
    "content/table": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/dropdown": false,
    "components/group": false,
    "components/modal": false,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false));